﻿@{
    Layout = "";
}
<div class="row">
    <div class="column">
        <span>Payment methods available</span>
        <img src="~/assets/visa.png" alt="Visa" title="Visa">
        <img src="~/assets/mastercard.png" alt="MasterCard" title="MasterCard">
        <img src="~/assets/americanexpress.png" alt="American Express" title="American Express">
        <img src="~/assets/mpesa.png" alt="MPESA" title="MPESA">
        <img src="~/assets/airtel.png" alt="Airtel Money" title="Airtel Money">
        <img src="~/assets/equity.png" alt="Equity" title="Equity">
        <img src="~/assets/coopbank.png" alt="Co-op" title="Co-op Bank">
        <img src="~/assets/ewallet.png" alt="e-wallet" title="E wallet">
    </div>
</div>
